.section {
  display: flex;
  gap: 1rem;
  min-height: 100vh;
}

.header {
  background-color: #323233;
  padding: 2rem;
  min-height: 100vh;
}

.main {
  flex: 1;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-template-columns: .25fr 1fr;
}

.mainDiv {
  padding: 1rem;
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  min-height: 100%;
}

.headerLogo {
  width: 100px;
  height: 100%;
}

.headerLogo:hover {
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.nav a {
  color: #d6d6d6;
}

.nav a:hover {
  color: #fbfbfd;
}

.sidebarFooter {
  flex-wrap: wrap;
  max-width: 150px;
  text-align: center;
  color: #d6d6d6;
}

/* SuggestPopups */
.popUp {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0px;
  left: 0px;
}

.popUpWrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #d6d6d6;
  color: #323233;
  border-radius: 10px;
  align-items: center;
  gap: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 300px;
}

.popUpWrapperButton {
  background-color: #3366CC;
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  color: white;

  transition: all 400ms ease;
}

.popUpWrapperButton:hover {
  opacity: 50%;
  cursor: pointer;
}

.sugerirPopUp {
  color: #3366CC;
  font-weight: 700;
  transition: all 400ms ease;
}

.sugerirPopUp:hover {
  cursor: pointer;
  opacity: 50%;
}

.popUpCloseButton {
  background: none;
  border: none;
  color: #8b0000;
  font-size: 18px;

  float: right;
  position: absolute;
  top: 10px;
  right: 10px;

  transition: all 400ms ease;
}

.popUpCloseButton:hover {
  cursor: pointer;
  opacity: 50%;
}

.popUpInput {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Book Card */
.bookCard {
  background-color: #323233;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 10px;
  height: 350px;
}

.bookImgBox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookImg {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.bookTitle {
  margin-top: 0;
}

.bookInfos {
  display: flex;
  flex-direction: column;
}

.bookBtnWrapper {
  margin-top: auto;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.bookBtn {

  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.bookBtn:hover {
  opacity: 50%;
  cursor: pointer;
}

/* Books Filter */
.booksFilter {
  padding: 1rem;
  background-color: #323233;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  width: 100%;
}

.organizationName {
  margin-top: 0;
}

/* Organization Card */
.organizationCard {
  background-color: #323233;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  border-radius: 10px;
  height: 300px;
  width: 100%;
}

.organizationInfos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.organizationSite {
  display: flex;
  gap: 5px;
  align-items: center;
}

.organizationImgBox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.organizationImg {
  height: 100%;
  border-radius: 8px;
}

.organizationSite:hover>svg {
  color: #8b0000;
}

.organizationBtnWrapper {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  justify-content: flex-end;
  flex: 1;
}

.organizationBtn {
  text-align: center;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.organizationBtn:hover {
  opacity: 50%;
  cursor: pointer;
}

/* Organizations Filter */
.organizationsFilters {
  padding: 1rem;
  background-color: #323233;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  width: 100%;
}

/* Community Page */
.communitiesDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

/* Community Card */
.communityCard {
  padding: 1rem;
  background-color: #323233;
  border-radius: 10px;
  text-align: center;
  max-height: 350px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.communityCard a {
  padding: 8px 30px;
  border-radius: 10px;
  background-color: #8b0000;
  margin-top: auto;
  text-align: center;
}

.communityCard a:hover {
  opacity: 80%;
}

/* Reading Guide Card */
.readingGuideCard {
  padding: 0 1rem;
  background-color: #323233;
  border-radius: 10px;
  max-height: 400px;
  max-width: 300px;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.readingGuideFilters {
  padding: 1rem;
  background-color: #323233;
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  width: 100%;
}

.readingGuideCard a {
  background-color: #8b0000;
  padding: .5rem 1rem;
  border-radius: 10px;
  margin-top: auto;
  margin-bottom: 1rem;

}

.readingGuideCard a:hover {
  opacity: 80%;
}

/* ReadingGuide Page */
.readingGuideDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

/* Contact Wrapper */
.contactCard {
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.contactCard svg {
  font-size: 60px;
  background-color: #8b0000;
  border-radius: 50%;
  padding: 1rem;
}

.contactCard svg:hover {
  color: black;
  cursor: pointer;
}

/* GuideBookCard */
.guideBookCard {
  background-color: #323233;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 900px;
}

/* Pagination */
.pagination {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.pagination button {
  border: none;
  padding: 1rem;
  border-radius: 10px;
  background-color: #323233;
}

.pagination button:hover {
  opacity: 60%;
  cursor: pointer;
}

.pagination button.active {
  background: #8b0000;
}

@media (max-width: 1024px) {
  .section {
    flex-direction: column;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 1px;
  }

  .header {
    min-height: auto;
    width: 100%;
  }


  /* Sidebar Page Mobile */
  .sidebar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    font-size: 12px;
  }

  /* Organization Page Mobile */
  .mainDiv {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* OrganizationCard Mobile */
  .organizationCard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    height: auto;
    width: 100%;
  }

  .organizationCard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .organizationInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .organizationSite {
    font-size: 14px;
  }

  /* BookCard Mobile */
  .bookCard {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    height: auto;
    width: 100%;
  }

  .bookImg {
    width: auto;
    height: 100px;
    object-fit: contain;
  }

  .bookInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .bookBtnWrapper {
    justify-content: center;
  }

  /* Reading Guide Page */
  .readingGuideDiv {
    grid-template-columns: 1fr;
  }

  /* ReadingGuideCard */
  .readingGuideCard {
    max-width: none;
  }

  /* Comunidade Page */
  .communitiesDiv {
    grid-template-columns: 1fr;
  }
}